<% content_for :page_title do %>
  <%= Spree.t(:new_dont_miss_out) %>
<% end %>

<div data-hook="admin_dont_miss_out_new_form_header">
  <%= render 'spree/shared/error_messages', target: @dont_miss_out %>
</div>

<div data-hook="admin_dont_miss_out_new_form">
  <%= form_for [:admin, @dont_miss_out] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <%= render 'spree/admin/shared/new_resource_links' %>
      </div>
    </div>
  <% end %>
</div>
