<div data-hook="admin_banner_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :heading1, class: ['form-group'] do %>
      <%= f.label :heading1 %>
      <%= f.text_field :heading1, class: 'form-control' %>
      <%= error_message_on :banner, :heading1 %>
    <% end %>

    <%= f.field_container :heading2, class: ['form-group'] do %>
      <%= f.label :heading2 %>
      <%= f.text_field :heading2, class: 'form-control' %>
      <%= error_message_on :banner, :heading2 %>
    <% end %>

    <%= f.field_container :brief, class: ['form-group'] do %>
      <%= f.label :brief %>
      <%= f.text_area :brief, class: 'form-control' %>
      <%= error_message_on :banner, :brief %>
    <% end %>

    <%= f.field_container :url, class: ['form-group'] do %>
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control' %>
      <%= error_message_on :banner, :url %>
    <% end %>

    <%= f.field_container :banner_img, class: ['form-group'] do %>
      <%= f.label :banner_img %>
      <%= f.file_field :banner_img, class: 'form-control' %>
      <%= error_message_on :banner, :banner_img %>
    <% end %>

  </div>
</div>
