        </section>

    
        <footer id="footer" class="footer6">
            
            
            <div id="footer-wrapper" style="background-image:url(<%=asset_path 'foot.jpg'%>);">
                <div id="footer-inner" >
                    <!-- scroltop -->
                    <a href="#header" id="scroll-top" title="Go to top">Top</a>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 widget">
                                <h4>Information</h4>
                                <ul class="links">
                                    <li><a href="#" title="New Products">New Products</a></li>
                                    <li><a href="#" title="Top Sellers">Top Sellers</a></li>
                                    <li><a href="#" title="Specials">Specials</a></li>
                                    <li><a href="#" title="Manufacturers">Manufacturers</a></li>
                                    <li><a href="#" title="Suppliers">Suppliers</a></li>
                                    <li><a href="#" title="Our stores">Our stores</a></li>
                                </ul>
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3 widget">
                                <h4>My Account</h4>
                                <ul class="links">
                                    <li><a href="#" title="My account">My account</a></li>
                                    <li><a href="#" title="Personal information">Personal information</a></li>
                                    <li><a href="#" title="Addresses">Addresses</a></li>
                                    <li><a href="#" title="Discount">Discount</a></li>
                                    <li><a href="#" title="Orders history">Orders history</a></li>
                                    <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                                </ul>
                            </div><!-- End .col-md-3 -->

                            <div class="sm-margin clearfix visible-sm"></div><!-- space -->

                            <div class="col-sm-6 col-md-3 widget">
                                <h4>Customer Service</h4>
                                <ul class="links">
                                    <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                                    <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                                    <li><a href="#" title="Return policy">Return policy</a></li>
                                    <li><a href="#" title="Careers">Careers</a></li>
                                    <li><a href="#" title="Affiliates">Affiliates</a></li>
                                    <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                                </ul>
                            </div><!-- End .col-sm-3 -->

                            <div class="col-sm-6 col-md-3 widget facebook-widget">
                                <h4>Facebook</h4>
                                <div class="facebook-like-box">
                                    <a href="#" class="facebook-like-btn">
                                        <span class="facebook-like-btn-icon light"></span><span>Like!</span>
                                    </a>
                                    <p>1452 people like <a href="#">Promokit</a></p>
                                    <div class="facebook-users clearfix">
                                        <a href="#"><img src="<%=asset_path 'facebook/anna.jpg'%>" alt="Anna"><span>Anna</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/tom.jpg'%>" alt="Tom"><span>Tom</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/antuan.jpg'%>" alt="Antuan"><span>Antuan</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/maria.jpg'%>" alt="Maria"><span>Maria</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/milla.jpg'%>" alt="Milla"><span>Milla</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/justine.jpg'%>" alt="Justine"><span>Justine</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/maria2.jpg'%>" alt="Maria"><span>Maria</span></a>
                                        <a href="#"><img src="<%=asset_path 'facebook/tom2.jpg'%>" alt="Tom"><span>Tom</span></a>
                                    </div>
                                </div><!-- End .facebook-like-box -->
                            </div><!-- End .col-sm-3 -->

                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End #footer-inner -->
            
                <div id="footer-bottom-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="footer-bottom" class="clearfix">
                                    <p class="copyright-text">&copy; 2016 Powered by ArtAnzels;&nbsp;All Rights Reserved.</p>

                                    <ul class="social-links clearfix">
                                        <li><a href="#" class="social-icon icon-facebook" title="Facebook"></a></li>
                                        <li><a href="#" class="social-icon icon-twitter" title="Twitter"></a></li>
                                        <li><a href="#" class="social-icon icon-rss" title="Rss Feed"></a></li>
                                        <li><a href="#" class="social-icon icon-delicious" title="Delicious"></a></li>
                                        <li><a href="#" class="social-icon icon-linkedin" title="Linkedin"></a></li>
                                        <li><a href="#" class="social-icon icon-flickr" title="Flickr"></a></li>
                                        <li><a href="#" class="social-icon icon-skype" title="Skype"></a></li>
                                        <li><a href="#" class="social-icon icon-email" title="Email"></a></li>
                                    </ul>
                                </div><!-- End .col-md-12 #footer-bottom -->
                                
                            </div><!-- End .col-xs-12 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->   
                </div><!-- End #footer-bottom-container -->
            </div><!-- End #footer-wrapper -->
        	
        </footer><!-- End #footer -->
    </div><!-- End #wrapper -->
	<!-- END -->

    <!-- Google map javascript api v3 -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

	
    <%=javascript_tag do%>
        $(function() {
            "use strict";
            // Slider Revolution
            jQuery('#revslider').revolution({
                delay:8000,
                startwidth:1170,
                startheight:600,
                fullScreen:"on",
                hideTimerBar: "on",
                spinner: "spinner3",
                navigationVOffset:50
            });
        });

        // Arrivals section Slider 
        var arrivalsApi = jQuery('#arrivals-slider.revbanner-slider').revolution({
            delay:7000,
            fullWidth:"on",
            startwidth: 1170,
            startHeight:800,
            fullScreen:"on",
            fullScreenAlignForce: "on",
            hideTimerBar:"on",
            spinner:"spinner4"
        });

        $('#arrivals-prev').on('click', function (e) {
            arrivalsApi.revprev();
            e.preventDefault();
        });

        $('#arrivals-next').on('click', function (e) {
            arrivalsApi.revnext();
            e.preventDefault();
        });


        /*---- Google map -----*/
        (function () {
            "use strict";

            function initialize() {
                /* change your with your coordinates */
                var myLatLng = new google.maps.LatLng(28.4924353,77.0806712), // Your coordinates
                    mappy = {
                        center: myLatLng,
                        zoom: 17,
                        scrollwheel: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        styles: [//Style for map
                            {
                                "featureType": "landscape",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 25
                                    },
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 51
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "stylers": [
                                    {
                                        "saturation": -50
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "stylers": [
                                    {
                                        "saturation": -20
                                    },
                                    {
                                        "lightness": 30
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "lightness": 40
                                    },
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "stylers": [
                                    {
                                        "saturation": -100
                                    },
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "lightness": -25
                                    },
                                    {
                                        "saturation": -100
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "hue": "#ffff00"
                                    },
                                    {
                                        "lightness": -25
                                    },
                                    {
                                        "saturation": -97
                                    }
                                ]
                            }
                        ]
                    };
                    
                var map = new google.maps.Map(document.getElementById("footer-top-small-map"), mappy),
                    newpin = 'images/pin2.png';

                new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: newpin,
                    animation: google.maps.Animation.DROP,
                    title: 'ArtAnzels' // Title for marker
                });

                /* Create new lat and long for label placed little bit down from marker*/
                var labelLatLng = new google.maps.LatLng(51.514863, -0.133689),
                    mapLabel = new MapLabel({
                        text: 'Granada',
                        position: labelLatLng,
                        map: map,
                        fontSize: 18,
                        align: 'center'
                    });

                mapLabel.set('position', labelLatLng);
                mapLabel.set('fontColor', '#868176');
                mapLabel.set('fontSize', 12);
                mapLabel.set('strokeWeight', 0);
            }

            if (document.getElementById("footer-top-small-map")) {
                google.maps.event.addDomListener(window, 'load', initialize);
            }
        }());
    <%end%>