<div class="product-group">
                <div class="container">

                    <h2 class="small-title text-center">Shop The Art</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="owl-example1" class="owl-carousel product-slider" style="display:inline;">
                            	<%Spree::LookBook.take(3).each do |lb|%>
                                <div class="product">
                                    <img src="<%=lb.lookbook_img(:medium)%>" alt="<%=lb.heading1%>">
                                    <div class="product-slider-content">
                                        <h4><%=lb.heading1%></h4>
                                        <h3><%=lb.heading2%></h3>
                                    </div><!-- End .product-slider-content -->
                                </div><!-- End .product -->
                       			<%end%>	
                            </div><!-- End .product -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6" > 
                                	<%Spree::Product.order("created_at DESC").take(4).each do |product|%>
                                	<% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                                    <div class="product product4 dark">
                                    	<% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
                                        <figure class="product-image-container" style="width: 270px; height:340px;">
                                        	<%= link_to product_image(product, itemprop: "image",alt: product.name,class: "product-image",width: "270px", height: "340px"), url, itemprop: 'url', title: product.name %>                                          
                                        </figure>
                                        <div class="product-meta">
                                            <div class="product-meta-inner">
                                                <h3 class="product-name text-left"><a href="product.html" title="<%=product.name%>"><%=truncate(product.name, length: 50)%></a></h3>
                                                <div class="product-price-container text-left">
                                                    <span class="product-price" itemprop="price"><%= display_price(product) %></span>
                                                </div><!-- End .product-price-container -->
                                                <% end %>
    											<% reset_cycle("classes") %>

                                                <div class="product-action-container clearfix">
                                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                                        <span class="add-btn-text">Add to Cart</span>
                                                        <span class="product-btn product-cart">Cart</span>
                                                    </a>
                                                    <div class="product-action-inner">
                                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                                    </div><!-- End .product-action-right -->
                                                </div><!-- End .product-action-container -->
                                            </div><!-- end .product-meta-inner -->
                                        </div><!-- End .product-meta -->
                                    </div><!-- End .product -->
                                    <%end%>	
                          
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .product-group -->
<%=javascript_tag do%>
	  $("#owl-example1").owlCarousel({
 
      navigation : true, // Show next and prev buttons
      slideSpeed : 250,
      paginationSpeed : 300,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
  $('.owl-pagination').css({"display":"none"});
<%end%>